<main>  
  <div class="main__container">  
      <div class="sobreposition">  
          <div class="container-fluid px-4">  
              <h1 class="mt-4">Cream</h1>  
          </div>  
      </div>  
  </div>  

  <div style="max-width: 100%; height: auto; margin: 0; padding: 0;">  
      <img src='/assets/img/cream.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/ReglamentoCream.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/CreacionCream.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/AtencionRosado.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/TablaPagosCream.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
  </div>  

  <div class="container-fluid px-4">  
      <ol class="breadcrumb mb-4"></ol>  
      <div class="card-body">  
          <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">  
      </div>  
  </div>  
</main>