<main>  
  <div class="main__container">  
      <div class="sobreposition">  
      </div>  
  </div>  

  <div style="max-width: 100%; height: auto;">  
      <img src='/assets/img/nosotros.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/objetivo.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/MetodosPagoZYE.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
  </div>  
</main>