<main>  
  <div class="main__container">  
      <div class="sobreposition">  
          <div class="container-fluid px-4">  
              <h1 class="mt-4">Livchat</h1> 
          </div>  
      </div>  
  </div>  

  <div style="max-width: 100%; height: auto;">  
      <img src='/assets/img/livchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/ReglamentoLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/CreacionLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
      <img src='/assets/img/AtencionMorado.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">
      <img src='/assets/img/TablaPagosLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto; display: block;">  
  </div>  
</main>
