
<main>
  
  

    <div class="main__container">
  
      
     <div class="sobreposition">
  
      <div class="container-fluid px-4">
        <h1 class="mt-4">Livchat</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Menú principal</a></li>
            <li class="breadcrumb-item active">Livchat</li>
        </ol> 
      </div>
    </div>
  </div>
  
  
  
  
    <div style="max-width: 100%; height: auto;">
      <img src='/assets/img/livchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto;">
  </div>
                      <div class="container-fluid px-4">
                          <ol class="breadcrumb mb-4">
                          </ol> 
                          
                          <div class="card-body">
                            
  
                                  
                              <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                           
                           <div style="max-width: 100%; height: auto;">
                            <img src='/assets/img/ReglamentoLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto;">
                        </div>
  
                        <div style="max-width: 100%; height: auto;">
                          <img src='/assets/img/CreacionLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto;">
                      </div>

                      <div style="max-width: 100%; height: auto;">
                        <img src='/assets/img/AtencionMorado.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto;">
                    </div>
                    <br>
                    <div style="max-width: 100%; height: auto;">
                      <img src='/assets/img/TablaPagosLivchat.jpg' alt="Descripción de la imagen" style="width: 100%; height: auto;">
                  </div>
  
                          </div>
                        
                          </div>
  </main>